@media (max-width: 1284px) {
  html {
    font-size: 98%;
  }
}

@media (max-width: 1560px) {
  html {
    font-size: 96%;
  }
}

@media (max-width: 1197px) {
  /* blogs links  */
  main {
    padding: 0;
  }
}

@media (max-width: 1161px) {
  html {
    font-size: 95%;
  }
}

@media (max-width: 1108px) {
  html {
    font-size: 92%;
  }
}

@media (max-width: 1084px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 1070px) {
  html {
    font-size: 88%;
  }
}

@media (max-width: 1038px) {
  html {
    font-size: 86%;
  }
}

@media (max-width: 1022px) {
  html {
    font-size: 84%;
  }
}

@media (max-width: 995px) {
  html {
    font-size: 82%;
  }
}

@media (max-width: 965px) {
  html {
    font-size: 82%;
  }
}

@media (max-width: 775px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 745px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 713px) {
  html {
    font-size: 78%;
  }
}

@media (max-width: 685px) {
  html {
    font-size: 78%;
  }
}

@media (max-width: 626px) {
  html {
    font-size: 76%;
  }
}

@media (max-width: 501px) {
  html {
    font-size: 74%;
  }
}

@media (max-width: 462px) {
  html {
    font-size: 72%;
  }
}

@media (max-width: 454px) {
  html {
    font-size: 80%;
  }
}
