* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: poppins;
  border: none;
  outline: none;
  /* letter-spacing: 0.015rem; */
  list-style: none;
  scroll-behavior: smooth;
  transition: 0.4s ease-in-out;
}

/* dark color  */
:root {
  --bg-color: #000000;
  --bgtext-color: #141414;
  --sec-bg-color: #131313;
  --sec-hover-color: #1b1b1b;
  --card-color: #131313;
  --sec2-bg-color: #202020;
  --text-color: #f1f1f1;
  --para-color: #a1a1a1;
  --para2-color: #cccccc;
  --placeholder-color: #999999;
  --icon-color: #646774;
  --box-shadow: 0 0 1rem #00000000;
  --main-color: #42cc49;
}

/* light color  */
.light-theme {
  --bg-color: #ffffff;
  --sec-bg-color: #eceef2;
  --sec-hover-color: #e8ebf0;
  --card-color: #ffffff;
  --sec2-bg-color: #e0e4ec;
  --text-color: #404256;
  --para-color: #7f8196;
  --para2-color: #686a79;
  --placeholder-color: #7c7e98;
  --icon-color: #646774;
  --box-shadow: 0 0 3rem #ebebeb;
  --main-color: #81ef87;
}

/* scroll bar  */
::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--sec-bg-color);
  -webkit-border-radius: 30rem;
  -webkit-box-shadow: 0rem 0rem 1rem #000000bf;
}

::-webkit-scrollbar-corner {
  background: var(--bg-color);
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  padding: 2rem;
}

html {
  /* font-size: 93%; */
}

.header-cont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 2rem 0;
}

.header-cont header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-cont header {
  max-width: 1200px;
  margin: 0 auto;
}

.header-cont header .left {
  max-width: 7.9rem;
}

.header-cont header .left a {
  /* max-width: 4rem; */
}

.header-cont header .left a img {
  width: 100%;
}

.header-cont header .search {
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  background-color: var(--sec-bg-color);
  height: 3rem;
  width: 17.5rem;
  border-radius: 50rem;
  position: relative;
  overflow: hidden;
  text-align: center;
  cursor: text;
  justify-content: center;
  gap: 0.7rem;
}

.header-cont header .search:hover {
  background-color: var(--sec-hover-color);
}

.header-cont header .search .icon svg {
  width: 1.2rem;
  margin-top: 0.4rem;
  stroke: var(--placeholder-color);
}

.header-cont header .search input {
  /* background-color: red; */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: transparent;
  width: 100%;
  padding: 0 2.3rem 0;
  color: var(--text-color);
  font-family: poppins;
  font-size: 0.9rem;
}

.header-cont header .search .placeholder-text {
  color: var(--placeholder-color);
  font-size: 0.85rem;
  font-weight: 300;
}

.header-cont header .search input::placeholder {
  color: var(--placeholder-color);
  font-weight: 300;
}

.header-cont header .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
}

.header-cont header .right .theme {
  height: 2.85rem;
  width: 2.85rem;
  background-color: var(--sec-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50rem;
  cursor: pointer;
}

.header-cont header .right .theme:hover {
  background-color: var(--sec-hover-color);
}

.header-cont header .right .theme svg {
  width: 1rem;
  stroke: var(--placeholder-color);
  stroke-width: 0.1rem;
}

.header-cont header .right a {
  display: flex;
  align-items: center;
  line-height: 0;
  justify-content: center;
  background-color: var(--main-color);
  padding: 0.6rem 1.4rem;
  gap: 0.5rem;
  border-radius: 50rem;
  color: var(--bgtext-color);
  font-size: 0.74rem;
  text-transform: capitalize;
}

.header-cont header .right .btn .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-cont header .right .btn .icon svg {
  width: 1.2rem;
  stroke-width: 0.1rem;
  stroke: var(--bgtext-color);
}

/* top cards  */
.cards-wallper {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
  /* overflow-y: auto; */
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 4rem;
  flex-wrap: nowrap;
  border-radius: 1.4rem;
  padding: 2rem 0.5rem;
}

.cards-wallper::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.cards-wallper .card {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: var(--card-color);
  cursor: pointer;
  padding: 0.7rem 0.5rem 0.7rem 1.3rem;
  width: 17rem;
  border-radius: 1.5rem;
  gap: 1.3rem;
  box-shadow: var(--box-shadow);
}

.cards-wallper .card:hover {
  background-color: var(--sec-hover-color);
  transform: translateY(-0.2rem);
}

.cards-wallper .card .image-cont {
  width: 4.5rem;
  height: 4.5rem;
  border: solid 0.4rem var(--sec2-bg-color);
  border-radius: 50%;
}

.cards-wallper .card .image-cont img {
  width: 100%;
}

.cards-wallper .card .cont {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.cards-wallper .card .cont h2 {
  font-size: 1rem;
  font-weight: 470;
  text-transform: capitalize;
}

.cards-wallper .card .cont #dis {
  color: var(--para-color);
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--para-color);
  font-size: 0.75rem;
  gap: 0.3rem;
}

.cards-wallper .card .cont #dis .icon svg {
  stroke: var(--para-color);
  stroke-width: 0.07rem;
  width: 0.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* top info */
.filter {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem auto 0;
  padding: 0 .7rem;
}

.filter h2 {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.75rem;
  font-weight: 470;
  /* background-color: red; */
  line-height: 1.5rem;
}

.filter h2 span {
  font-size: 0.75rem;
  background-color: var(--sec2-bg-color);
  padding: 0.01rem 0.8rem;
  margin-top: 0.2rem;
  border-radius: 50rem;
  cursor: pointer;
}

.filter h2 span:hover {
  background-color: var(--sec-hover-color);
}

.filter .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sec-bg-color);
  cursor: pointer;
  padding: 0.35rem 0.6rem 0.35rem 0.35rem;
  border-radius: 50rem;
  gap: 0.5rem;
}

.filter .btn:hover {
  background-color: var(--sec-hover-color);
}

.filter .btn .icon1 {
  background-color: var(--sec2-bg-color);
  height: 1.85rem;
  width: 1.85rem;
  border-radius: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter .btn .icon1 svg {
  stroke: var(--para-color);
  stroke-width: 0.08rem;
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter .btn span {
  line-height: 0;
  color: var(--para2-color);
  text-transform: capitalize;
  font-size: 0.75rem;
}

.filter .btn .icon2 svg {
  stroke: var(--para-color);
  stroke-width: 0.08rem;
  width: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  rotate: 270deg;
  margin-left: -0.1rem;
}
